.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.buttons {
    background-color: #646cff;
    transition: background-color 300ms;
}

.buttons:hover {
    background-color: #535bf2;
    box-shadow: 0 0 1em #646cffaa;
}

.link {
    color: #646cff;
    text-decoration: none;
    font-weight: 500;
    transition: color 300ms;
}

.link:hover {
    color: #535bf2;
    text-decoration: underline;
}

.MuiInputBase-input {
    color: inherit;
    background-color: transparent;
}

label {
    color: inherit;
    background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
    .buttons {
        transition: all 300ms ease-in-out;
    }
}

@media (prefers-color-scheme: dark) {
    .MuiContainer-root {
        color: rgba(255, 255, 255, 0.87) !important;
    }

    .MuiInputBase-root {
        border-color: rgba(255, 255, 255, 0.87) !important;
    }

    .MuiInputBase-root {
        color: rgba(255, 255, 255, 0.87) !important;
    }

    .MuiFormLabel-root {
        color: rgba(255, 255, 255, 0.87) !important;
    }

    .buttons {
        background-color: #646cff;
    }

    .buttons:hover {
        background-color: #535bf2;
    }

    .link {
        color: #646cff;
    }

    .link:hover {
        color: #747bff;
    }
}