.message-page-container {
    height: 100vh;
    width: 100vw;
}

.message-page-content {
    display: flex;
}

.message-page-sidebar {
    width: 30%;
    border-right: 1px solid #e6e9f2;
    background: #ffffff;
}

.message-page-main {
    width: 70%;
}